:root {
  --primary-font: "Sen", sans-serif;

  --text-color-gray: #8491a0;
  --text-color-light: #ffffff;
  --text-color-dark: #181823;

  --text-color-green: #3cc74e;
  --text-color-blue: #609bff;
  --text-color-pink: #e95d90;

  --bg-gray: #181823;
  --bg-black: #000000;
  --bg-white: #ffffff;
  --bg-blue: #5221e6;
}

/* init */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  background-color: var(--bg-black);
}

a,
h1,
h2,
h3,
body,
p,
div,
blockquote,
img,
li,
ul,
span,
body {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  list-style: none;
  color: var(--text-color-light);
  display: block;
  text-decoration: none;
  line-height: 1.5;
}

input,
button,
label {
  font-family: inherit;
  font-style: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

span {
  font-style: inherit;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.6rem;
}

h3,
h3 * {
  font-size: 1.2rem;
  line-height: 1.2;
}

/* utils */
.text-dark {
  color: var(--text-color-dark);
}

.text-gray {
  color: var(--text-color-gray);
}

.text-light {
  color: var(--text-color-light);
}

.text-green {
  color: var(--text-color-green);
}

.display-inline {
  display: inline;
}

.text-blue {
  color: var(--text-color-blue);
}

.text-pink {
  color: var(--text-color-pink);
}

.padding-bottom-small {
  padding-bottom: 0.4rem;
}

.padding-bottom-medium {
  padding-bottom: 1rem;
}

.padding-bottom-large {
  padding-bottom: 2rem;
}

.border {
  border-style: solid;
  border-width: 0.5px;
  border-color: var(--bg-gray);
}

.text-uppercase {
  text-transform: uppercase;
}
.split {
}

.btn {
  display: block;
  padding-block: 0.5rem;
}

.btn-primary {
  color: var(--text-color-light);
  border: 1px solid var(--bg-blue);
  background-color: rgba(0, 0, 0, 0);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--bg-blue);
}

.btn-filled {
  color: var(--text-color-light);
  border-style: none;
  background-color: var(--bg-blue);
}

.btn-outlined:hover {
}

.section {
  max-width: 1024px;
  padding: 3rem 1.5rem;
  margin: auto;
}
.logo {
  color: var(--text-color-light);
  font-weight: 700;
}

.hamburger {
  background-image: url("/assets/icons/hamburger.svg");
  background-position: center;
  width: 1rem;
  height: 1rem;
}

/* styling component */
header {
  background-color: var(--bg-black);
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

#mobile-side-nav button {
  background-color: rgba(0, 0, 0, 0);
  border-style: none;
  cursor: pointer;
}

#mobile-side-nav button:focus {
  border-style: none;
}

.top-nav-menu {
  position: absolute;
  background: var(--bg-black);
  height: 100%;
  right: 0;
  top: 2rem;
  padding-top: 1rem;
}

.top-nav-menu > li {
  padding: 0.5rem 3rem 0.5rem 1.5rem;
}

.top-nav-menu--hidden {
  display: none;
}

.top-nav-menu > li:hover {
  background-color: var(--bg-blue);
  color: var(--text-color-light);
}

.cover {
  display: block;
}

.cover--image,
.cover--content {
  width: 100%;
  height: auto;
}

.cover--content {
  background-color: var(--bg-gray);
  padding: 3rem 1.3rem;
}

.cover--content h1 {
  line-height: 1.3em;
}

.cover--content p {
  margin-top: 0.7rem;
}

.company-no {
  font-size: 6rem;
  margin-top: 0.2em;
  margin-bottom: -0.15em;
}

.philosophy-section {
  background-color: var(--bg-white);
  color: var(--text-color-dark);
}

.link {
  margin-top: 5rem;
  width: fit-content;
  padding-bottom: 0.2rem;
}

.link:hover,
.ink:focus {
  border-bottom: solid 1px var(--text-color-dark);
}

.skillset {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.skillset > * {
  padding-block: 0.3rem;
}

.logo-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: middle;
}
.logo-section > * {
  width: 50%;
  padding: 1rem;
  border: solid 1px rgba(80, 80, 80, 0.3);
}
.project-card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-gray);
  margin-block: 2.4rem;
}

.project-card--body {
  padding: 1.5rem 1rem;
}

.project-card--body > h3 {
  padding-bottom: 1.1rem;
}

.instagram-section {
  background-color: var(--bg-white);
}

.image-cover {
  min-height: 20rem;
  width: 100%;
  object-fit: cover;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  margin-top: 2.6rem;
}

.testimonial-card img {
  max-height: 10rem;
  max-width: 100%;
  object-fit: cover;
}

.testimonial-card--body {
  width: 100%;
  padding: 1.3rem 1rem;
  border: solid 1px rgba(114, 114, 114, 0.8);
}

.testimonial-card--body > blockquote {
  margin-bottom: 3.5rem;
}

.testimonial-card--body > span {
  color: var(--text-color-gray);
}

.photography-btn-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.photography-btn-group > button {
  width: 100%;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form .btn {
  padding-block: 1rem;
  text-transform: uppercase;
}

.contact-form label {
  display: inline;
  margin-bottom: 0.2rem;
}
input,
textarea {
  border-style: none;
  background-color: var(--bg-gray);
  padding: 0.7rem 0;
  margin-bottom: 1.2rem;
}

.footer {
  padding: 1.2rem 1rem;
  background-color: var(--bg-gray);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.footer--logo {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
}

.footer--logo span {
  display: inline-block;
}
.footer--logo img {
  flex-grow: 1;
}

.footer--copyright {
  padding-block: 1rem;
  color: var(--text-color-gray);
  grid-column: span 2;
}
